@media screen and (max-width: 393px) {
  .sale-game-col .sale-games {
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    width: 390px !important;
  }
  .sale-game-col .sale-game {
    height: 239.65px;
  }
  .discover-header-row {
    gap: 59px;
    width: 390px;
    margin: 0 0;
  }
  .discover-header {
    width: 390px !important;
  }
  .now-on-games {
    gap: 82px !important;
  }
  .discover-games-list {
    width: 390px !important;
  }
  .tab-list {
    display: flex;
    flex-wrap: wrap;
  }
  .now-on-games {
    padding: 85px 0;
  }
  .overview-det span {
    font-size: 19px;
  }
  .overview__title {
    padding: 0 10px;
  }
  .spot-title h3 {
    font-size: 21px;
  }
  .product-swiper .swiper-data  {
    left: 85%;
  }
  .product-swiper .swiper-slide-prev::before {
    width: 0;
    height: 0;
  }
  .data-left {
    width: 390px !important;
    position: relative;
    top: -11px;
    left: -32%;
  }
}


@media screen and (max-width: 378px) {
  .product-swiper .swiper-slide img {
    width: 380px !important;
    height: 100%;
  }
  header {
    width: 375px !important;
  }
  .discover-header {
    gap: 24px;
    width: 375px;
  }
  .discover-games-container {
    width: 375px !important;
  }
  .discover-games {
    width: 375px !important;
  }
  .now-on-games {
    width: 375px;
    margin: 0 auto;
    gap: 44px !important;
  }
  .now-on-container {
    width: 375px;
  }
  .tab-games-u {
    font-size: 14px;
  }
  .now-on-games .product {
    height: 239.4px !important;
  }
  .sale-games {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 12px;
  }
  .sale-game-col .sale-game {
    height: 239.65px;
  }
  .overview__title {
    padding: 0 11px;
  }
  .spot-title h3 {
    font-size: 15px;
  }
  .overview-det {
    gap: 13px;
  }
  .sale-game-new {
    margin: 20px auto !important;
  }
  .swiper-slide {
    width: calc(50% - 10px);
  }
  .support-header-bg {
    height: 256.15px;
  }
  .header-title h1 {
    font-size: 23px;
  }
  .header-title input {
    width: 345.2px;
    height: 50px;
  }
  .custom-blocks {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
  .promoted-articles__list {
    display: flex;
    flex-direction: column;
    height: 344px;
    overflow: hidden;
  }
  .promoted-articles__list li a {
    font-size: 13px;
    font-weight: 900;
  }
  .sec-text h2 {
    font-size: 21px;
    letter-spacing: 0.2px;
    line-height: 35px;
  }
  .sec-text h3 {
    font-size: 20px;
  }
  .gaming-info {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 353px;
  }
  .app-wrapper-bg {
    background-position: center;
  }
  .catalog-products .sale-game {
    width: 163px !important;
  }
  .sale-game-price .sale-game-add {
    display: none !important;
  }
  .catalog-products .sale-games {
    height: 1513px !important;
  }
  .sale-game-new .pagination {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  .app-wrapper-about p {
    width: 352px;
  }
  .about-wrapper-logo {
    display: none !important;
  }
}
/*  */
@media screen and (max-width: 426px) {
  header {
    width: 425px !important;
  }
  .catalog__sort {
    left: 45% !important;
  }
  .overview-games {
    gap: 77px !important;
  }
  .app-wrapper-about p  {
    width: 410px;
  }
  .sale-games {
    grid-template-columns: repeat(2, 1fr);
  }
  .sale-game-col .sale-game {
    height: 239.65px;
  }
  .now-on-container {
    width: 425px;
  }
  .now-on-games {
    gap: 128px;
  }
  .discover-games-container {
    width: 425px !important;
  }
  .discover-games {
    width: 425px;
  }
  .featured {
    display: none;
  }
  .now-on-games .product {
    height: 239.4px !important;
  }
}
@media screen and (max-width: 420px) {
  .product-swiper .swiper-slide img {
    width: 380px !important;
    height: 100%;
  }
  .featured {
    display: none;
  }
  .swiper-slide {
    width: calc(50% - 10px);
  }
  .overview-games {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    row-gap: 14px !important;
  }
  .sale-game {
    width: 355px !important;
  }
  .header-title input {
    width: 360.2px;
    height: 50px;
  }
  .custom-blocks {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
  .promoted-articles__list {
    display: flex;
    flex-direction: column;
    height: 344px;
    overflow: hidden;
  }
  .promoted-articles__list li a {
    font-size: 13px;
    font-weight: 900;
  }
  .app-wrapper-bg {
    background-position: center;
  }
  .about-wrapper-logo {
    display: none !important;
  }
  .app-wrapper-about p {
    width: 351px !important;
  }
  .catalog-products .sale-games {
    height: 1513px !important;
  }
  .sale-game-new .pagination {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
/*  */

@media screen and (max-width: 320px) {
  .sale-game {
    width: 303px !important;
  }
  header {
    width: 320px !important;
  }
  .data-left {
    width: 300px !important;
  }
  .discover-games {
    width: 320px;
  }
  .discover-games-list {
    width: 304px;
    margin: 139px auto;
  }
  .discover-game {
    width: 304px;
  }
  .now-on-container {
    width: 320px;
  }
  .product-swiper .swiper-data {
    left: 79% !important;
  }
  .tab-games-u {
    font-size: 12px;
  }
  .product-swiper .swiper-data .data-left {
    width: 320px;
    top: -8px;
    position: relative;
    left: -36%;
  }
  .product-info {
    height: 96px;
  }
  .sale-game-col .sale-game {
    width: 142px !important;
  }
  .header-inf {
    width: 165px;
  }
  .tab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
  .discover-header-row {
    gap: 24px;
    width: 320px;
  }
  .now-on-games {
    width: 320px;
    padding: 71px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    gap: 21px !important;
  }
  .now-on-games .product {
    width: 148px !important;
    height: 171.4px !important;
  }
  .now-on-games .product .product-image {
    height: 72.4px;
  }
  .header-inf h3 {
    font-size: 13px;
  }
  .overview__title {
    padding: 0 9px;
  }
  .spot-title h3 {
    font-size: 16px;
  }
  .overview-det {
    gap: 0 !important;
  }
  .spot-price {
    font-size: 18px !important;
    position: relative;
    left: -81px;
    top: 42px;
    width: 100px;
  }
  .overview__logo {
    padding: 55px 0 !important;
  }
  .overview__logo img {
    width: 316px !important;
  }
  header {
    width: 320px !important;
  }
  .search-input {
    width: 203px !important;
  }
  .basket {
    width: 320px !important;
    right: 36px !important;
  }
  .check-btn a {
    width: 143px !important;
  }
  .menu-product-head h3 {
    font-size: 12px !important;
  }
  .sale-game {
    width: 141.2px !important;
  }
  /* .catalog__sort {
    transform: translateX(-147px) !important;
  } */
  .shop-data h3 {
    font-size: 10px !important;
  }
  .total-price h3 {
    margin: 0 10px;
  }
  .overview-games {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 14px !important;
    row-gap: 5px !important;
  }
  .game-title h2 {
    font-size: 7px !important;
  }
  .game {
    width: 143px !important;
    height: 157px !important;
  }
  .app-wrapper-about p {
    width: 317px !important;
  }
  .catalog-search input {
    width: 288px;
  }
  .catalog-products .sale-game {
    width: 137px !important;
  }
  .catalog-products .sale-game-new {
    max-width: none;
  }
  .scrollBtn {
    display: none !important;
  }
  .sale-games {
    gap: 1 !important;
  }
  .catalog__sort {
    left: 45% !important;
  }
  .sale-game {
    width: 141px !important;
  }
  .sale-image {
    width: 141px !important;
  }
  .sale-game-details {
    width: 141px !important;
  }
  .sale-games {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .news {
    display: none;
  }
  .add-icon {
    display: none !important;
  }
  .dis-game-price {
    margin-left: -50px;
  }
  .game-img img {
    width: 102px;
  }
  .dis-game-title {
    font-size: 10px;
  }
  .featured-deals-container {
    display: none;
  }
  .now-on-games .product {
    width: 148px;
    height: 171.4px;
  }
  .product-swiper .swiper {
    overflow: hidden;
  }
  .product-swiper .swiper-slide-prev {
    width: 1079px !important;
  }
  .product-swiper .swiper-pagination {
    display: none;
  }
  .product-swiper .swiper-slide-prev .swiper-data {
    display: flex !important;
  }
  .catalog__sort {
    opacity: 1 !important;
    visibility: visible !important;
    position: fixed;
    z-index: 666;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
  }
  .about-wrapper-logo {
    display: none !important;
  }
  .catalog__sort span {
    user-select: none;
  }
  .catalog-div {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 991;
    background-color: #0f1112;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    bottom: 0;
  }
  .catalog-div span {
    position: absolute;
    top: 60px;
    color: #fff;
    right: 2px;
    font-size: 17px;
    right: 65px;
  }
  .catalog-active {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  .filters-active {
    display: block !important;
    position: absolute;
    top: 57px;
    z-index: 9999;
  }
  .left__nav {
    width: max-content;
  }
  .logo-disable {
    display: none;
  }
  .search-input {
    width: 248px;
  }
  .search-results {
    width: 100%;
  }
  .basket {
    width: 360px;
  }
  .shop-data h3 {
    display: flex;
    font-size: 12px;
  }
  .left__nav ul {
    display: none;
  }
  .right__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right__nav ul li:nth-child(1) {
    display: none;
  }
  .right__nav ul {
    display: flex;
    align-items: center;
  }
  .overview__title {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .highlights {
    width: 100% !important;
  }
  .product-swiper .swiper-button-next {
    display: none;
  }
  .product-swiper .swiper-button-prev {
    display: none;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius: 10px;
  }
  .product-swiper .swiper-products {
    height: 100% !important;
  }
  .swiper-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 !important;
    color: #fff;
  }
  .swiper-btn {
    width: 58px;
    height: 30px;
    font-size: 19px;
  }
  .game-info {
    width: 100% !important;
  }
  .data-title {
    width: 100%;
  }
  .data-left {
    width: 100%;
  }
  #add {
    width: 119px;
    height: 33px;
    font-size: 14px;
  }
  .data-left h2 {
    font-size: 14px;
  }
  .data-title h2 {
    font-size: 17px;
  }
  .data-right {
    width: 100%;
  }
  .game-status {
    display: none !important;
  }
  .left__nav {
    display: flex;
  }
  #menu {
    display: block;
  }
  .overview-games {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    row-gap: 14px;
  }
  .game {
    width: 163px;
    height: 157px;
  }
  .game-image {
    width: 100%;
    height: 93px;
  }
  .game-details {
    display: flex;
    flex-direction: column;
    height: 84px;
  }
  .game-title {
    height: max-content;
  }
  .game-title h2 {
    font-size: 15px;
    width: max-content;
  }
  .game-title-info {
    display: none;
  }
  .game-price {
    height: max-content;
    padding: 0 14px;
  }
  .game-price span {
    font-size: 14px;
  }
  .burger {
    position: fixed;
    z-index: 1222;
    top: 56px;
    background-color: #1a1a1af7;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .burger ul li a {
    font-size: 22px;
    color: #fff;
  }
  .product-overview {
    height: 365px !important;
  }
  #search {
    display: block;
  }
  .products .swiper-pagination-bullet {
    display: none !important;
  }
  .products-heading-title {
    width: 100% !important;
  }
  /* .sale-games {
    display: flex;
    flex-direction: column;
  } */
  .catalog-products {
    margin: 0 0;
  }
  .catalog-products .sale-game-new {
    height: max-content;
  }
  .sale-game-new .sale-games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sale-game-platforms {
    opacity: 0;
    visibility: hidden;
  }
  .sale-game {
    width: 354px;
  }
  .sale-game-add {
    display: block !important;
  }
  #spot {
    height: 460px !important;
  }
  .header-bg {
    height: 115px;
  }
  .header-left ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
  }
  .header-right {
    display: none !important;
  }
  .main-left {
    gap: 0;
  }
  .lists {
    row-gap: 16px !important;
  }
  .main-right ul {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
  .main-right ul li a {
    color: #fff;
  }
  #footer-logo {
    display: none;
  }
  .middle-bg {
    height: 143px;
  }
  .middle-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-middle {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .middle-right {
    display: none;
  }
  .products .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .products .swiper-wrapper {
    display: flex !important;
    flex-wrap: wrap !important;
    row-gap: 0 !important;
  }
  .products .product {
    width: 175px !important;
    height: 178px !important;
    background-color: #2e1240;
    color: #bedf3c;
    cursor: pointer;
  }
  .products .swiper-slide {
    width: 50% !important;
  }
  .footer-logo-large {
    display: none;
  }
  .product-actions-body {
    width: 304px;
    height: 220.2px;
    top: 270%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .action-price {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }
  .action-price h3 {
    text-align: center;
  }
  .product-actions-body .add-to-card #add {
    width: 264px;
    height: 47.6px;
  }
  .description {
    padding-top: 290px !important;
    display: flex;
    flex-direction: column;
    gap: 0;
    row-gap: 11px;
  }
  .catalog-search {
    width: 358.4px;
    height: 40px;
  }
  .catalog-page {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 97px;
    padding: 11px 0;
  }
  .sale-game-new {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
  }
  .sale-game-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  /* .sale-game-title-info {
    padding: 29px 10px;
  } */
  .sale-game {
    width: 171.2px !important;
    height: 246px;
  }
  .sale-image {
    height: 117px !important;
  }
  .sale-game-details {
    height: 117px;
  }
  .page-header {
    order: 0;
  }
  .catalog-navigation {
    display: none;
  }
  .filters-left {
    display: none;
  }
  .overview__logo img {
    width: 379px;
  }
  .featured-deals {
    opacity: 0;
    visibility: hidden;
  }
  .active {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  .scrollBtn {
    display: none;
  }
}
